<tr>
  <td scope="row"><%= release_train.id %></td>
  <td><%= release_train.rt_date %></td>
  <td><%= release_train.engineering_manager %></td>
  <td><%= release_train.backend %></td>
  <td><%= link_to "view", release_train %></td>
</tr>
